@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


html {
  scroll-behavior: smooth;
}


.left,.right {
  position: relative;
}

.left::after, .right::after {
  content: '';
  position: absolute;
  width: 1px; 
  height: 100%;
  background-color: #777;
  top: 0;
}

.left::after {
  left: 0;
}

.right::after {
  right: 0;  
}

.font-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
}

nav{
  box-shadow:  0 -20px 80px -20px #ffffff1f
}

@import 'tailwindcss'
