@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


html {
  scroll-behavior: smooth;
}

.font-jakarta {
  font-display: swap;
  font-family: "Poppins", sans-serif;
}

.header{
  margin: 40px auto;
  position: relative;
  width: fit-content;
}

.header::after{
  background: #2E6F40;
  border-radius: 10px;
  bottom: -15px;
  content: '';
  height: 7px;
  left: 0;
  position: absolute;
  width: 70%;
}

nav{
  box-shadow:  0 -20px 80px -20px #ffffff1f;
}

@import 'tailwindcss'
