@font-face {
  font-family: "Poppins";
  src: url("/font/poppins-regular-webfont.woff2") format("woff2"),
       url("/font/poppins-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  antialising-adjustment: 100%;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.font-jakarta {
  font-display: swap;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header{
  margin: 40px auto;
  position: relative;
  width: fit-content;
}

.header::after{
  background: #2E6F40;
  border-radius: 10px;
  bottom: -15px;
  content: '';
  height: 7px;
  left: 0;
  position: absolute;
  width: 70%;
}

.project-name {
  position: relative !important;
  width: fit-content;
}

.project-name::after {
  background: #2E6F40;
  border-radius: 10px;
  bottom: 2px;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%; 
}

nav{
  box-shadow:  0 -20px 80px -20px #ffffff1f;
}

@import 'tailwindcss'
